ENVIRON=dev_or_prod_or_test
PORT=3000

dev.proxy.host = "www.serverdestinto.com"
dev.proxy.port = 443
dev.proxy.http = https 

prod.proxy.host = "www.serverdestinto.com"
prod.proxy.port = 443
prod.proxy.http = https 

test.proxy.host = "www.serverdestinto.com"
test.proxy.port = 80
test.proxy.http = http 
